{% block oh_google_maps_widget %}
<div {{ block('widget_container_attributes') }}>
	{% block oh_google_maps_html %}
	<div id="{{ id }}_container">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." id="{{ id }}_input">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="{{ id }}_search_button">Ir!</button>
    </span>
  </div>
		<div id="{{ id }}_map_canvas" class="googlemap" style="width:100%; height: 500px !important"></div>
		<div id="{{ id }}_error"></div>
	</div>
	{% endblock %}
	{% block oh_google_maps_fields %}
		{% for child in form %}
		    {{ form_row(child) }}
        {% endfor %}
	{% endblock %}
	{% block oh_google_maps_javascripts %}
		{% if include_jquery %}
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		{% endif %}
		{% if include_gmaps_js %}
		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&key={{ gmapkey}}"></script>
		{% endif %}
		{% javascripts
			'@OhGoogleMapFormTypeBundle/Resources/public/js/jquery.ohgooglemaps.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
	{% block oh_google_maps_javascript %}
		{% block oh_google_maps_callback %}
			<script type="text/javascript">
				var oh_google_maps_callback = function(location, gmap){
					// your callback function here
				}
			</script>
		{% endblock %}
		<script type="text/javascript">

			$(function(){
				$('#{{ id }}_map_canvas').ohGoogleMapType({
				  'search_input_el'    : $('#{{ id }}_input'),
				  'search_action_el'   : $('#{{ id }}_search_button'),
				  'search_error_el'    : $('#{{ id }}_error'),
				  'current_position_el': $('#{{ id }}_current_position'),
				  'default_lat'        : '{% if value is defined and value and attribute(value, lat_name) %}{{ attribute(value, lat_name) }}{% else %}{{ default_lat }}{% endif %}',
				  'default_lng'        : '{% if value is defined and value and attribute(value, lng_name) %}{{ attribute(value, lng_name) }}{% else %}{{ default_lng }}{% endif %}',
				  'default_zoom'       : {% if value is defined and value and value.lat and value.lng %}15{% else %}12{% endif %},
				  'lat_field'          : $('#{{ attribute(form, lat_name).vars.id }}'),
				  'lng_field'          : $('#{{ attribute(form, lng_name).vars.id }}'),
				  'callback'           : oh_google_maps_callback
				});
			});

		</script>
	{% endblock %}
</div>
{% endblock %}
